{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}

<ul style="columns: 2; list-style-type: none; margin-left: 0;">
<li><a href="/whatis/">What is LAS?</a></li>
<li><a href="/vision/">Vision</a></li>
<li><a href="/sponsor/">Sponsor</a></li>
<li><a href="/cfp/">Call for Proposals</a></li>
<li><a href="https://conf.linuxappsummit.org/event/5/timetable/#20230422">Timetable</a></li>
<li><a href="/register/">Registrations</a></li>
<li><a href="https://conf.linuxappsummit.org/event/4/manage/registration/9/">Volunteer</a></li>
<li><a href="/coc/">Code of Conduct</a></li>
<li><a href="https://shop.spreadshirt.com/linux-app-summit/all">Merchandise</a></li>
<li><a href="/local/">Location</a></li>
</ul>
